<!DOCTYPE html>
<html>
<head>
  <title>About - Node.js Authentication Project</title>
  <link rel="stylesheet" href="/css/styleAbout.css">
</head>
<body>
  <nav>
    <ul>
      <li><a href="/home">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/login">Login</a></li>
      <li><a href="/signup">Signup</a></li>
    </ul>
  </nav>

  <div class="content">
    <h1>About the Node.js Authentication Project</h1>
    <p>The Node.js Authentication Project is a web application designed to demonstrate how to implement user authentication and authorization using Node.js and various web technologies. This project uses Express.js for handling HTTP requests, and MongoDB for data storage.</p>
    <p>The project includes various features such as user registration, login, logout, and password reset. It also includes email verification, two-factor authentication, and user roles and permissions. The project code is available on GitHub and can be used as a starting point for building your own authentication system.</p>
  </div>
</body>
</html>
