<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Login Page</title>
  <link rel="stylesheet" href="/css/styleLogin.css">
</head>
<body>
	<a href="/home">Go to Home </a>
	<% if (messages && messages.success) { %>
       <p><%= messages.success %></p>
	<% }else if(messages && messages.error){ %>
	  	<p><%= messages.error %></p>
	<% }%>
	<div class="container">
		<div class="form">
			<h1>Login</h1>
			<form action="/api/v1/users/login" method="POST">
				<label for="email">Username</label>
				<input type="text" id="email" name="email" required></br>

				<label for="password">Password</label>
				<input type="password" id="password" name="password" required>

				<input type="submit" value="Login">
			</form>
		</div>
		<h3><a href="#">Forgot Password?</a> </h3>
		
	</div>
</body>
</html>
