<!DOCTYPE html>
<html>
<head>
  <title>Node.js Authentication Project</title>
  <link rel="stylesheet" href="/css/styleProfile.css">
</head>
<body>
  <nav>
    <ul>
      <li><a href="/home">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/resetPassword">Reset Password</a></li>  
      <li><a href="/api/v1/users/logout">Logout</a></li>
     
    </ul>
  </nav>
  <% if (messages && messages.success) { %>
    <p><%= messages.success %></p>
<% } %>
<% if(messages && messages.error){ %>
   <p><%= messages.error %></p>
<% }%>
  <div class="content">
    <div>
        <h1><%= messages.name%></h1>
        <p>"Hello, and welcome to my profile page! My name is <%= messages.name%>,!"</p>
    </div>
  </div>
</body>
</html>
