<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Reset Password</title>
  <link rel="stylesheet" href="/css/styleLogin.css">
</head>
<body>
	<a href="/profile">Back</a>
	<% if (messages && messages.success) { %>
       <p><%= messages.success %></p>
	<% } %>
	<% if(messages && messages.error){ %>
	  	<p><%= messages.error %></p>
	<% }%>
	<div class="container">
		<div class="form">
             <form action="/api/v1/users/resetPassword" method="POST">
                <label for="password">New Password:</label>
                <input type="password" id="password" name="password" required>
                <br>
                <label for="passwordConfirm">Confirm Password:</label>
                <input type="password" id="passwordConfirm" name="passwordConfirm" required>
                <br>
                <button type="submit">Reset Password</button>
              </form>
		</div>
				
	</div>
</body>
</html>
